/* font style */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Shared Style */

  .display-flex{
    display: flex;
  }

  .orange-text{
    color: #FF5400;
  }
  
body{

    margin-left: 135px;
    margin-right: 135px;
    
    
}



  /* nav section Related Style */
  .nav-title{

    font-size: 2.1rem;
    font-weight: 800;
    
  }

.nav-ul{
    gap: 44px;
}
.nav-li{
    list-style: none;
    /* padding-top: 53px; */
    margin-top: 50px;

}
.nav-li a{
    text-decoration: none;
    color: #424247;
}

.nav-section {
    justify-content: space-between;
    

}

.nav-container{
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


/* Main Section Related Style */

.main-section{
    
    background: linear-gradient(rgba(19, 19, 24, 1), rgba(19, 19, 24, 0)), url(/Images/Group\ 13\ \(1\)\ \(1\).png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
    border-radius: 16px;
    
}

.main-title{
    color: white;
    font-size: 4rem;
    padding-top: 100px;
    font-weight: 800;
    margin-bottom: 0px;
}
.main-desc{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.main-container{
    background-color:rgba(255, 255, 255, 0.4);
    max-height: 84px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    
   padding: 10px;
    
}
.input-text{
   font-size: 1rem;
   width: 174px;
   max-height: 52px;
   border: none;
   border-radius: 8px;
   outline: none;
   color: rgba(19, 19, 24, 0.5);
   
   padding-left: 16px;
   padding-top: 16px;
   padding-bottom: 16px;

}

select{
    font-size: 1rem;
    width: 174px;
    max-height: 52px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: rgba(19, 19, 24, 0.5);
    

    padding-left: 16px;
   padding-top: 16px;
   padding-bottom: 16px;
   padding-right: 50px;
    
   
    
}

.p-btn{
 background-color: #FF5400;
 font-size: 1rem;
 font-weight: 700;
 width: 174px;
 height: 52px;
 justify-content: center;
 align-items: center;
 gap: 5px;
 border: none;
 border-radius: 8px;
 color: white;
 text-align: center;
}

.img-btn{
    filter: brightness(0) invert(1);
    
    
}

/* Popular Section Style */

.second-section{
    margin-top: 100px;
    justify-content: space-between;
    

}
.popular-section{
    max-width: 577px;
}
.popular-title{
    font-size: 2.5rem;
    font-weight: 800;
   

}

.p-desc{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    max-width: 530px;
    margin-bottom: 24px;
}

.popular-li{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    max-width: 515px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.popular-ul{
  padding-left: 20px;
}

/* Choose Related Style */
.choose-section{
    text-align: center;
    margin-top: 90px;
}

.choose-desc{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
}

.maldiv{
    position: absolute;
    text-align: center;
    top: 1700px;
    left: 500px;
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
}

.img-first{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
   
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 24px
}

.img-second{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
   
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;

}

.img-third{
    display: grid;
    grid-template-columns: repeat(2, 0.0fr);
   
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 100px;

}









































/* media tag for small device */

@media screen and (max-width:576px) {

    .nav-section, .nav-container, .nav-ul,  .nav-container-text

    {
        flex-direction: column;
        
    }
    .nav-container{
        
       
        margin-left: 0px;
        margin-right: 0px;
        gap: 0px;
        justify-content: center;
        align-items: center;
    }
    .nav-ul{
        gap: 0px;
        margin-top: 0px;
        text-align: center;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-left: 0pc;
        justify-content: center;
        align-items: center;
    }
    body{
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .main-section{
        width: 100%;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    .main-container{
        flex-direction: column;
        max-height: 288px;
        max-width: 287px;
        padding: 20px;
    }
    .main-title{
        font-size: 1.3rem;
        padding-top: 40px;

    }
    .main-desc{
        font-size: 0.9rem;
    }
    select{
        width: 255px;
    }
    .input-text{
        width: 240px;
    }
    .second-section{
        flex-direction: column;
    }
    .popular-img{
        width: 100%;
    }

    .p-btn{
        margin-bottom: 20px;
    }
    .img-first, .img-second, .img-third{
        grid-template-columns: repeat(1, 1fr);
        /* width: 100%; */
        margin-left: 20px;
        margin-right: 20px;
        /* max-width: 335px; */
    }
    .multi-img{
        width: 100%;
        max-height: 175px;
        max-width: 335px;
    }

    .maldiv{
        left: 0170px;
        top: 2630px;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0 auto;
        
    }

}